@model DanhSachNhom
@{
    ViewData["Title"] = "DanhSachNhomHocPhan";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="" style="margin-bottom: 10px;">
    <div class="card">
        <h5 class="card-header">@Model.hocPhan</h5>
        @await Html.PartialAsync("../HocPhan/_ChinhSuaHocPhan.cshtml")
        <h5 class="card-header">Danh sách nhóm</h5>
        @await Html.PartialAsync("../Nhom/_DanhSachNhomAdmin.cshtml")
    </div>
</div>

<script src="~/js/DanhSachNhomHocPhan.js" asp-append-version="true"></script>