:root {
    --blue: #696cff;
    --orange: #ffab00;
    --red: #ff3e1d;
    --grey: #8592a3;
    --rgb-grey: rgba(67, 89, 113, 0.5);
    --green: #71dd37;
}

.trGV:hover {
    cursor: pointer;
}

.hover th:hover {
    cursor: pointer;
}

#SearchTK {
    margin-right: 20px;
}

#spanSearchTK {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.table_clickable tr:hover {
    cursor: pointer;
}

#DoThiDiem {
    text-align: center;
}

#canvasDoThi {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

#tableNhomCaNhan input {
    border: 0.1px solid gray;
}

#tableNhomCaNhan select {
    border: 0.1px solid gray;
}

#tableNhomCaNhan button {
    width: 100%;
}

#tableNhomCaNhan td:nth-child(2n) {
    font-weight: bold;
    color: var(--blue);
}

    #tableNhomCaNhan td:nth-child(2n) input {
        border: 1px solid var(--blue);
        color: var(--blue);
    }

    #tableNhomCaNhan td:nth-child(2n) select {
        border: 1px solid var(--blue);
        color: var(--blue);
    }

.align-items-left {
    text-align: left;
}

#divBtn button {
    margin-right: 20px;
}

.tpdiem {
    background: #007bff;
    color: white;
    border-radius: 5px;
    vertical-align: middle;
}


    .tpdiem i {
        margin-left: 5px;
    }

        .tpdiem i:hover {
            cursor: pointer;
            color: red;
        }

#divThanhPhanDiem span {
    margin-right: 10px;
}

.editabletd {
    text-align: left;
}

.table-edit td {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.table-edit [contenteditable]:focus {
    outline: 0.2px solid rgba(0, 0, 0, 0.5);
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555;
}

[placeholder]:empty:focus::before {
    content: "";
}

#tableDiemThi {
    counter-reset: section;
}

    #tableDiemThi .count:before {
        counter-increment: section;
        content: counter(section);
    }

.cursorPointer:hover {
    color: red;
    cursor: pointer;
}

.cursorPointer {
    text-align: center;
    color: #007bff;
    width: 20px;
    border-bottom: 0px solid white;
}

.tableChiTietHocPhan td {
}

    .tableChiTietHocPhan td:nth-child(2n+1) {
        font-weight: bold;
    }

    .tableChiTietHocPhan td:nth-child(2n) {
        color: #696cff;
        font-weight: bold;
    }

.ulAvatar {
    padding-left: 0px;
    font-weight: bold;
    text-align: center;
    width: 100px;
    margin: 0 auto;
}

.tableDSNhom tr td:nth-child(1) {
    width: 10px;
}

.tableDSNhom tr td:nth-child(2) ul {
    text-align: center;
}

.right-align {
    text-align: right;
}

.tableDSNhom i {
    color: var(--blue);
}

    .tableDSNhom i:hover {
        color: var(--red);
        cursor: pointer;
    }

.tableDSNhom td:nth-child(2) ul {
    justify-content: center;
    width: 50px;
}

.tableDSNhom td:nth-child(2) img {
    border: 2px solid var(--blue);
}

.tableDSNhom td:nth-child(2) {
    max-width: 400px;
    padding-left: 10vw;
    text-align: center;
}

.tableDSNhom td:nth-child(3) {
    text-align: left;
    color: var(--blue);
    font-weight: bold;
}

.tableDSNhom th:nth-child(2) {
    text-align: center;
}

.tableDSNhom th {
    font-weight: bold;
}

    .tableDSNhom th:nth-child(2) {
        padding-left: 10vw;
    }

.tableDSNhom td:nth-child(1) {
    text-align: center;
}

.add {
    margin-top: -30px;
}

    .add i {
        vertical-align: middle;
        margin-right: 10px;
    }

.tableDSNhom {
    counter-reset: section;
}

    .tableDSNhom .count:before {
        counter-increment: section;
        content: counter(section);
    }

    .tableDSNhom tr:hover {
        cursor: move;
    }

#tableThemNhom {
    counter-reset: section;
}
    #tableThemNhom .count:before {
        counter-increment: section;
        content: counter(section);
    }

    #tableThemNhom .count {
        text-align: center;
    }

    #tableThemNhom tbody tr:hover {
        cursor: move;
    }

#divThongTin li span {
    color: var(--blue)
}

    #divThongTin li span:nth-child(3) {
        font-weight: bold;
    }

.tableTimKiem {
    counter-reset: section;
}

    .tableTimKiem .count:before {
        counter-increment: section;
        content: counter(section);
    }

    .tableTimKiem td:nth-child(1) {
        width: 30px;
        text-align: center;
    }

    .tableTimKiem th:nth-child(2n) i {
        margin-left: 1vw;
    }

    .tableTimKiem td:nth-child(3) {
        width: 30px;
        text-align: center;
    }

    .tableTimKiem th:nth-child(3) {
        width: 30px;
        text-align: center;
    }

    .tableTimKiem td:nth-child(6) {
        text-align: center;
    }
    .tableTimKiem td:nth-child(6) span{
        width: 40px;
    }

    .tableTimKiem th:nth-child(6) {
        text-align: center;
    }

    .tableTimKiem th:nth-child(5) {
        text-align: center;
    }

    .tableTimKiem td:nth-child(5) {
        text-align: center;
    }

        .tableTimKiem td:nth-child(5) img {
        }

    .tableTimKiem tbody tr:hover td {
        color: var(--blue) !important;
    }

        .tableTimKiem tbody tr:hover td img {
            border: 2px solid var(--blue) !important;
        }

    .tableTimKiem th:hover {
        cursor: pointer;
    }

    .tableTimKiem tr:hover td {
        color: white !important;
    }

.header-search .input-group {
    width: 70%;
    margin: 0 auto;
}

.header-search span{
    background: var(--blue);
    color: white;
    border: 1px solid var(--blue);
}

    .header-search span:hover {
        cursor: pointer;
    }

    .header-search span i {
        font-size: 1.5em;
    }

    .header-search input {
        border: 1px solid rgba(67, 89, 113, 0.5);
    }

.header-search a:hover {
    cursor: pointer;
}

.tableLocTimKiem td:nth-child(1){
    font-weight: bold;
    color: var(--blue);
}

.tableLocTimKiem td:nth-child(3) {
    font-weight: bold;
    color: var(--blue);
}

.tableLocTimKiem td input {
    border: 1px solid rgba(67, 89, 113, 0.5);
}

.tableLocTimKiem td select {
    border: 1px solid rgba(67, 89, 113, 0.5);
}

.tableLocTimKiem td:nth-child(2n) {
    width: 35%;
}

.tableLocTimKiem td:nth-child(2n+1) {
    font-size: 13px;
}

#divImg img {
    border: 2px solid rgba(67, 89, 113, 0.5);
}


#locDSGV i{
    color: white;
}

#locDSGV {
    float: right;
}

.tableLocTimKiem label {
    font-size: 13px;
}

.control-dot {
    display: flex;
    z-index: 9999;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    border: 1px solid red;
    width: 100px;
    float: right;
}

#divTimKiemSV table tr td:nth-child(3){
    text-align: left;
}

#divTimKiemSV table tr td:nth-child(5) {
    text-align: left;
}

#divTimKiemSV table tr th:nth-child(5) {
    text-align: left;
}

#divTimKiemSV table tr td:nth-child(6) {
    text-align: left;
    display: flex;
}
#divTimKiemSV table tr th:nth-child(6) {
    text-align: left;
}

#divTimKiemSV table tr td:nth-child(5) {
    font-weight: bold;
    color: var(--blue);
}
#divTimKiemSV table tr td:nth-child(6) span {
    text-align: center;
    width: 20px;
}

#divTimKiemSV table tr td:nth-child(2) {
    font-weight: bold;
}

#tableCanvas td:nth-child(1){
    font-weight: bold;
    color: var(--blue);
}

.modalTable td:nth-child(1){
    color: var(--blue);
    font-weight: bold;
}
.modalTable td:nth-child(2) {
    font-weight: bold;
}

#myModalCanvas {
    max-width: 250px;
}

@media (max-width: 600px){
    #tdCanvas {
        display: none;
    }
}

#modalN i{
    color: var(--orange)
}

#divTimKiemSV table tbody tr:hover {
    background-color: rgba(67, 89, 113, 0.1);
}

.table-mahocphan {
    width: 50%;
    margin: 0 auto;
}

.table-mahocphan thead tr th {
    text-align: center;
    font-weight: bold;
    color: var(--blue);
}

    .table-mahocphan th i{
        float: right;
    }

    .table-mahocphan th:hover {
        cursor: pointer;
    }

.table-modal-mhp td:nth-child(1){
    color: var(--blue);
    font-weight: bold;
}

.table-modal-mhp td:nth-child(2) input{
    border: 1px solid var(--rgb-grey);
}

.table-mahocphan td:nth-child(4) i:hover{
    color: var(--orange);
}

.table-mahocphan tr:hover td{
    color: var(--blue);
}

    .table-mahocphan tr:hover td:nth-child(1) {
        font-weight: bold;
    }

.cttk input{
    border: 1px solid var(--rgb-grey);
}