
.trGV:hover {
    cursor: pointer;
}

.hover th:hover {
    cursor: pointer;
}

#SearchTK {
    margin-right: 20px;
}

#spanSearchTK {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.table_clickable tr:hover{
    cursor: pointer;
}

#DoThiDiem {
    text-align: center;
}

#canvasDoThi {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

#tableNhomCaNhan input{
    max-width: 140px;
    border: 0.1px solid gray;
}

#tableNhomCaNhan select {
    max-width: 140px;
    border: 0.1px solid gray;
}

#tableNhomCaNhan button {
    width: 140px;
}