:root {
    --blue: #696cff;
    --orange: #ffab00;
    --red: #ff3e1d;
}

.trGV:hover {
    cursor: pointer;
}

.hover th:hover {
    cursor: pointer;
}

#SearchTK {
    margin-right: 20px;
}

#spanSearchTK {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.table_clickable tr:hover{
    cursor: pointer;
}

#DoThiDiem {
    text-align: center;
}

#canvasDoThi {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

#tableNhomCaNhan input{
    border: 0.1px solid gray;
}

#tableNhomCaNhan select {
    border: 0.1px solid gray;
}

#tableNhomCaNhan button {
    width: 100%;
}

#tableNhomCaNhan td:nth-child(2n){
    font-weight: bold;
    color: var(--blue);
}

    #tableNhomCaNhan td:nth-child(2n) input {
        border: 1px solid var(--blue);
        color: var(--blue);
    }

    #tableNhomCaNhan td:nth-child(2n) select {
        border: 1px solid var(--blue);
        color: var(--blue);
    }

.align-items-left {
    text-align: left;
}

#divBtn button{
    margin-right: 20px;
}

.tpdiem {
    background: #007bff;
    color: white;
    border-radius: 5px;
    vertical-align: middle;
}


.tpdiem i {
    margin-left: 5px;
}

.tpdiem i:hover{
    cursor: pointer;
    color: red;
}

#divThanhPhanDiem span{
    margin-right: 10px;
}

.editabletd {
    text-align: left;
}

.table-edit td {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.table-edit [contenteditable]:focus {
    outline: 0.2px solid rgba(0, 0, 0, 0.5);
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555;
}

[placeholder]:empty:focus::before {
    content: "";
}

#tableDiemThi {
    counter-reset: section;
}

#tableDiemThi .count:before {
    counter-increment: section;
    content: counter(section);
}

.cursorPointer:hover {
    color: red;
    cursor: pointer;
}

.cursorPointer {
    text-align: center;
    color: #007bff;
    width: 20px;
    border-bottom: 0px solid white;
}

.tableChiTietHocPhan td {
}

    .tableChiTietHocPhan td:nth-child(2n+1) {
        font-weight: bold;
    }

    .tableChiTietHocPhan td:nth-child(2n) {
        color: #696cff;
        font-weight: bold;
    }

.ulAvatar {
    padding-left: 0px;
    font-weight: bold;
    text-align: center;
    width: 100px;
    margin: 0 auto;
}

.tableDSNhom tr td:nth-child(1){
    width: 10px;
}
.tableDSNhom tr td:nth-child(2) ul{
    text-align: center;
}

.right-align {
    text-align: right;
}

.tableDSNhom i {
    color: var(--blue);
}

.tableDSNhom i:hover {
    color: var(--red);
    cursor: pointer;
}

.tableDSNhom td:nth-child(2) ul {
    justify-content: center;
    width: 50px;
}

.tableDSNhom td:nth-child(2) img {
    border: 2px solid var(--blue);
}

.tableDSNhom td:nth-child(2) {
    max-width: 400px;
    padding-left: 10vw;
    text-align: center;
}

.tableDSNhom td:nth-child(3) {
    text-align: left;
    color: var(--blue);
    font-weight: bold;
}
.tableDSNhom th:nth-child(2) {
    text-align: center;
}

.tableDSNhom th {
    font-weight: bold;
}

.tableDSNhom th:nth-child(2) {
    padding-left: 10vw;
}

    .tableDSNhom td:nth-child(1) {
        text-align: center;
    }

.add {
    margin-top: -30px;
}
.add i{
    vertical-align: middle;
    margin-right: 10px;
}

.tableDSNhom {
    counter-reset: section;
}

    .tableDSNhom .count:before {
        counter-increment: section;
        content: counter(section);
    }

.tableDSNhom tr:hover{
    cursor: move;
}

#divThongTin li span{
    color: var(--blue)
}

#divThongTin li span:nth-child(3) {
    font-weight: bold;
}