
@{
    ViewData["Title"] = "ThemHocPhan";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="col-xxl">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Thêm học phần mới</h5>
        </div>
        <div class="card-body">
            <form id="formThemHocPhan">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-name">Mã học phần</label>
                    <div class="col-sm-10">
                        <!-- ma hoc phan -->
                        <div class="row gx-3 gy-2 align-items-center">
                            <div class="col-md-12">
                                <select id="selectMHP" class="form-select color-dropdown" required>
                                    <option value="all" selected disabled>-Chọn mã học phần-</option>
                                </select>
                            </div>
                        </div>
                        <!-- ma hoc phan -->
                    </div>
                </div>

                <!-- hoc ky nam hoc -->
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-company">Học kỳ</label>
                    <div class="col-sm-2">
                        <select id="selectHK" class="form-select color-dropdown">
                            <option value="all" selected disabled>-Chọn học kỳ-</option>
                            <option value="1">Học kỳ I</option>
                            <option value="2">Học kỳ II</option>
                            <option value="3">Học kỳ hè</option>
                        </select>
                    </div>
                    <label class="col-sm-2 col-form-label" for="basic-default-company">Năm học</label>
                    <div class="col-sm-3">
                        <select id="selectHKB" class="form-select color-dropdown">
                            <option value="all" selected disabled>-Chọn năm học-</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text"
                               class="form-control"
                               readonly
                               id="textHKK" />
                    </div>
                </div>
                <!-- hoc ky nam hoc -->
                <!-- han nop -->
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-company">Hạn nộp</label>
                    <div class="col-sm-2">
                        <input type="date"
                               class="form-control"
                               id="ngayNop" />
                    </div>
                </div>
                <!-- han nop -->
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-company">Điểm thành phần:</label>
                    <div class="col-sm-4" style="display: flex">
                        <input type="text" class="form-control" id="txtTP" style="margin-right: 20px" placeholder="Thành phần điểm..."/>
                        <button type="button"
                                class="btn btn-icon btn-primary"
                                onclick="ThemThanhPhan()">
                            <span class="tf-icons bx bx-plus"></span>
                        </button>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-company"></label>
                    <div class="col-sm-10" id="divThanhPhanDiem">

                    </div>
                </div>
                <!-- so nhom -->
                <!-- so nhom -->
                <div class="row mb-3">
                    <div class="card">
                        <h5 class="card-header">
                            <button type="button"
                                    id="buttonThemNhom"
                                    class="btn btn-icon btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalCenter"
                                    onclick="resetModal()">
                                <span class="tf-icons bx bx-plus"></span>
                            </button>
                            Thêm nhóm
                        </h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table table-hover" id="tableThemNhom">
                                <thead>
                                    <tr>
                                        <th>Mã nhóm</th>
                                        <th></th>
                                        <th>Mã GV</th>
                                        <th></th>
                                        <th>Tùy chọn</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-end">
                    <div class="col-sm-10">
                        <button onclick="KiemTra()"
                                class="btn btn-primary">
                            Thêm học phần
                        </button>

                    </div>
                </div>
            </form>
            <button id="buttonSubmit" 
                    style="display: none"
                    data-bs-toggle="modal"
                    data-bs-target="#modalCenter2">

            </button>
        </div>
    </div>
</div>

<!-- them nhom modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Thêm nhóm</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameWithTitle" class="form-label">Người phụ trách</label>
                        <input type="text"
                               id="textGV"
                               class="form-control"
                               autocomplete="off"
                               placeholder="Nhập để tìm kiếm..." />
                        <input type="text" id="textMGV" style="display: none" />
                        <input type="text" id="textTGV" style="display: none" />
                        <input type="text" id="textDN" style="display: none" />
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0" id="tableTK">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="modalDong">
                    Đóng
                </button>
                <button type="button" class="btn btn-primary" onclick="ThemGV()">Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- them nhom modal -->
<!-- xac nhan modal -->
<div class="modal fade" id="modalCenter2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Xác nhận</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Xác nhận thêm học phần này?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="modalDong">
                    Đóng
                </button>
                <button type="button" class="btn btn-primary" onclick="ThemHocPhanMoi()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!-- xac nhan modal -->

<script src="~/js/ThemHocPhan.js" asp-append-version="true"></script>